@import '../../styles/_utils/variables';
@import '../../styles/_utils/extends';
@import '../../styles/_utils/mixins';


.cart__img_container {
  flex: 1 0 auto;
  text-align: center;

  @include onPhone {
    flex-grow: 0;
  }
}

.cart__img {
  max-width: 66px;
}

.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 752px;
  padding: 24px;
  border: 1px solid #E2E6E9;
  border-radius: 16px;
  background-color: $white-primary-clr;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include onPhone {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
  }
}

.cart__closeBtn {
  background-image: url(../Cart/img/close-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  margin-right: 15px;
  width: 9px;
  height: 9px;
  border: none;
  transition: all 1s ease-in-out;

  &:hover {
    background-image: url(../../pages/PageCart/img/close-btnHover.svg);
    width: 9px;
    height: 9px;
    color: black;
  }
}

.cart__name {
  flex: 1 0 300px;
  padding: 0 24px;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: $grey-primary-clr;

  @include onPhone {
    max-width: 128px;
    padding: 0;
    margin-left: auto;
  }
}

.cart__counter {
  display: flex;
  align-items: center;
  justify-content: left;
  flex: 0 0 120px;

  @include onPhone {
    margin-top: 16px;
  }
}

.cart__removeBtn {
  background: url(../../img/icons/minus.svg) no-repeat center;
  @extend %remove_add_btn_styles;

  &:hover{
    border-color: $grey-primary-clr;
  }
}


.cart__addBtn {
  background: url(../../img/icons/Plus.svg) no-repeat center;
  @extend %remove_add_btn_styles;

  &:hover{
    border-color: $grey-primary-clr;
  }
}

.btn__disabled {
  opacity: 0.5;
  cursor: default;

  &:hover{
    border-color: #B4BDC3;
  }
}

.cart__productQuantity {
  margin: 0 13px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
}

.cart__price {
  font-size: 22px;
  line-height: 140%;
  font-weight: 800;
}
