@import './_utils/_mixins';
@import './_utils/_variables';

$margin-t: 24px;
$margin-b: 75px;

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  background-color: #FAFBFC;

  flex: 1 0 auto;

  &__container {
    margin: $margin-t auto $margin-b;
    max-width: 100%;
    padding: 0 $padding-l-r-small;
    height: 100%;

    @include onTablet {
      padding: 0 $padding-l-r-big;
      margin-bottom: $margin-b + 5px;
    }

    @include onDesktop {
      max-width: $widescreen-width;
    }
  }
}
