@import './_utils/_mixins';
@import './_utils/_variables';

$margin-t: 24px;
$margin-b: 75px;

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  margin-top: $margin-t;
  margin-bottom: $margin-b;

  flex: 1 0 auto;

  @include onTablet {
    margin-bottom: $margin-b + 5px;
  }

  &__container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 $padding-l-r-small;
    height: 100%;

    @include onTablet {
      padding: 0 $padding-l-r-big;
    }

    @include onDesktop {
      max-width: $widescreen-width;
    }
  }
}
