@import './_utils/_mixins';
@import './_utils/_variables';

.page {
  margin-top: $margin-t;
  margin-bottom: $margin-b;

  @include onTablet {
    margin-bottom: $margin-b + 5px;
  }

  &__container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 $padding-l-r-small;
    height: 100%;

    @include onTablet {
      padding: 0 $padding-l-r-big;
    }

    @include onDesktop {
      max-width: $widescreen-width;
    }
  }
}
