@import '../../styles/_utils//mixins';
@import '../../styles/_utils/_variables';


.filters {
  display: flex;
  margin-bottom: 24px;
}

.pagination {
  margin: auto;

  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  align-items: center;
}

.pageItem {
  &:not(:last-child) {
    margin-right: 8px;
  }

    font-weight: 600;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    width: 35px;
    height: 35px;

    border-radius: 100%;

    border: 1px solid;
    border-color: #E2E6E9;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: #0F0F11;
    }
}

.pageLink {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.active {
  color: #fff;
  background-color: #0F0F11;
  border-color: #0F0F11;
  border-radius: 100%;
}

.prevAndNext {
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 8px;
  }

  border-radius: 100%;

  border: 1px solid #B4BDC4;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: #0F0F11;
  }

  &_disabled {
    opacity: 0.4;
    cursor: default;

    &:hover {
      border-color: #B4BDC4;
    }
  }
}

.break {
  width: 35px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 100%;

  border: 1px solid #B4BDC4;
  transition: border-color 0.3s ease;

  margin-right: 8px;

  cursor: pointer;
  &:hover {
    border-color: #0F0F11;
  }
}

.prevAndNextLink {
  width: 35px;
  height: 35px;

  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
