@import '../../styles/_utils/variables';
@import '../../styles/_utils/extends';
@import '../../styles/_utils/mixins';

.cart {
  &__backLink {
    position: relative;
    padding-left: 20px;
    display: inline-block;
    margin-bottom: 16px;

    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: $grey-secondary-clr;

    background-color: transparent;
    border: 0;

    transition: color 0.3s ease;

    &:hover {
      color: $grey-primary-clr;
    }

    &::before {
      content: "";
      position: absolute;
      right: 38px;
      bottom: 5px;
      display: block;
      background-image: url(../../pages/PageCart/img/arrow-back.svg);
      width: 5px;
      height: 9px;
    }
  }

  &__title {
    margin-bottom: 32px;
    font-size: 48px;
    line-height: 56px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -0.01em;
    color: $grey-primary-clr;
  }

  &__content {
    display: flex;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    @include onPhone {
      flex-wrap: wrap;
    }
  }

  &__finalSum {
    flex-basis: 368px;
    max-height: 190px;
    padding: 24px;
    height: 206px;
    border: 1px solid #E2E6E9;
    border-radius: 16px;
  }

  &__sum {
    text-align: center;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
    color: $grey-primary-clr;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    text-align: center;
    color: $grey-secondary-clr;
    margin-bottom: 45px;
  }

  &__checkoutBtn {
    margin: 0 auto;
    display: block;
    position: relative;
    border-radius: 8px;
    padding: 13px 125px;
    border: none;
    color: #FFF;
    background-color: $accent-color;

    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 67px;
      right: -3px;
      width: 321px;
      height: 0px;
      border: 1px solid #E2E6E9;

      @include onPhone {
        border: 1px solid #E2E6E9;
        width: 240px;
        height: 0;
      }
    }

    @include onPhone {
      padding: 13px 85px;
    }

    &__active {
      color: $accent-color;
      background-color: transparent;
    }
  }
}


.Modal {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 250px;
  background-color: #FAFBFC;

  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include onTablet {
    height: 300px;
    width: 300px;
  }
}
