@import '../../styles/_utils/mixins';
@import '../../styles/_utils/variables';
@import '../../styles/_utils/extends';


.navInfo {
  display: flex;
  align-items: center;

  margin-bottom: 25px;

  @include onTablet {
    margin-bottom: 40px;
  }
}


.phoneItem {
  &__title {
    font-size: 22px;
    font-weight: 800;
    color: $grey-primary-clr;
    margin-bottom: 36px;

    @include onTablet {
      font-size: 32px;
      margin-bottom: 50px;
    }
  }

  &__img_info_wrapper {
    @include onTablet {
      display: flex;
      gap: 25px;
    }

    @include onDesktop {
      gap: 76px;
    }
  }

  &__carousel,
  &__short_info_wrapper {
    @include onTablet {
      flex: 1 1 0px;
      width: 0;
    }
  }

  &__desktop_wrapper {
    @include onDesktop {
      width: 320px;
    }
  }



  &__colors_block {
    padding-top: 20px;
    position: relative;

    @include onTablet {
      padding-top: 0;
    }

    &::after {
      @extend %phone_page_blocks_after;
    }
  }

  &__colors_block_title {
    display: flex;
    justify-content: space-between;
  }

  &__colors_block_title_text{
    color: $grey-secondary-clr;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
  }

  &__colors_block_color_radius {
    width: 32px;
    height: 32px;
    border: 1px solid #E2E6E9;

    border-radius: 50%;
    &:first-child {
      border: 1px solid $grey-primary-clr;

    }
  }

  &__colors_block_colors_wrap {
    display: flex;
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 25px;
  }

  &__colors_block_color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FCDBC1;
    border: 2px solid $white-primary-clr;
    cursor: pointer;
  }

  &__colors_block_color_2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5F7170;
    border: 2px solid $white-primary-clr;
    cursor: pointer;
  }

  &__colors_block_color_3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #4C4C4C;
    border: 2px solid $white-primary-clr;
    cursor: pointer;
  }

  &__colors_block_color_4 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #F0F0F0;
    border: 2px solid $white-primary-clr;
    cursor: pointer;
  }

  &__capacity_block {
    padding-top: 24px;
    position: relative;

    &::after {
      @extend %phone_page_blocks_after;
    }
  }

  &__capacity_block_title {
    color: $grey-secondary-clr;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
  }

  &__capacity_block_gb_wrapper {
    padding-top: 8px;
    padding-bottom: 24px;
    display: flex;
    gap: 8px;
  }

  &__capacity_block_gb {
    border: 1px solid #B4BDC4;
    border-radius: 4px;

    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 7px 8px 4px;

    color: $grey-primary-clr;
    cursor: pointer;

    &:first-child {
      background-color: $grey-primary-clr;
      color: $white-primary-clr;
    }
  }

  &__price_block {
    padding-top: 32px;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__price_new {
    font-weight: 800;
    font-size: 32px;
    color: $grey-primary-clr;
  }

  &__price_old {
    font-weight: 500;
    font-size: 22px;
    text-decoration-line: line-through;
    color: $grey-secondary-clr;
  }

  &__btn_container {
    padding-top: 25px;
  }

  &__characteristics {
    padding-top: 32px;
  }

  &__about_spec_wrapper {
    @include onDesktop {
      display: flex;
      gap: 76px;
    }
  }

  &__about_wrapper,
  &__specs_wrapper {
    @include onDesktop {
      flex: 1 1 0px;
      width: 0;
    }
  }

  &__about_title {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    color: $grey-primary-clr;

    padding-top: 48px;
    padding-bottom: 16px;

    @include onTablet {
      padding-top: 56px;
    }

    @include onDesktop {
      padding-top: 72px;
    }

    &::after {
      @extend %phone_page_blocks_after;
    }
  }

  &__about_text {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $grey-secondary-clr;

    padding-top: 32px;
  }

  &__specs_title {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    color: $grey-primary-clr;

    padding-top: 48px;
    padding-bottom: 16px;

    @include onTablet {
      padding-top: 56px;
    }

    @include onDesktop {
      padding-top: 72px;
    }

    &::after {
      @extend %phone_page_blocks_after;
    }
  }

  &__specs_table {
    padding-top: 25px;
  }
}




