@import './mixins';

%card_price_mutualStyles {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
}

%remove_add_btn_styles {
  width: 32px;
  height: 32px;
  border: 1px solid;
  border-color: #B4BDC3;
  background-color: transparent;
  transition: border-color 0.3s;
  border-radius: 50%;
}

%header_fav_counter {
  position: absolute;
  background-color: $icon-counter-clr;

  border-radius: 50%;
  width: 14px;
  height: 14px;
  text-align: center;

  color: #FFFFFF;
  font-size: 8px;
  font-weight: 600;
  padding: 1.5px;

  right: 62px;
  top: 12px;
  border: 1px solid #FFFFFF;

  z-index: 1;
}

%burger_fav_counter {
  position: absolute;
  background-color: $icon-counter-clr;

  border-radius: 50%;
  width: 14px;
  height: 14px;
  text-align: center;

  color: #FFFFFF;
  font-size: 8px;
  font-weight: 600;
  padding: 1.5px;

  left: 100px;
  bottom: 28px;
  border: 1px solid #FFFFFF;

  z-index: 1;
}

%phone_page_blocks_after {
  display: block;
  position: absolute;
  content: "";
  height: 1px;
  bottom: 1px;
  left: 0;
  right: 0;
  border-radius: 8px;
  background-color: #E2E6E9;
}


%home_page_arrow_styles {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
