%card_price_mutualStyles {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
}

%remove_add_btn_styles {
  width: 32px;
  height: 32px;
  border: 1px solid;
  border-color: #B4BDC3;
  background-color: transparent;
  transition: border-color 0.3s;
  border-radius: 50%;
}
