
$white-primary-clr: #fff;
$grey-primary-clr: #0F0F11;
$grey-secondary-clr: #89939A;
$accent-color: #F86800;
$phonesCard-width-heigh-px: 16px;

$padding-l-r: 24px;
$widescreen-width: 1135 + $padding-l-r * 2;
