@import '../../styles/_utils/_variables';
@import '../../styles/_utils/mixins';

.footer {
  flex-shrink: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;

    box-shadow: 0px -1px 0px #E2E6E9;

    @include onPhone {
      display: block;
    }
  }

  &__logo {
    & a{
      display: flex;
    }
    @include onPhone {
      margin-bottom: 32px;
    }
  }

  &__info {
    display: flex;

    @include onPhone {
      flex-direction: column;
      margin-bottom: 32px;
    }

    &_item {
      &:not(:last-child) {
        margin-right: 100px;
      }

      @include onTablet {
        &:not(:last-child) {
          margin-right: 70px;
        }
      }

      @include onPhone {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }

    &_link {
      font-size: 12px;
      line-height: 11px;
      font-style: normal;
      font-weight: 800;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $grey-secondary-clr;

      position: relative;
      transition-property: color;
      transition-duration: 0.3s;

      &:hover {
        color: #0F0F11;
      }
    }
  }

  &__toTop {
    color: $grey-secondary-clr;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    transition: color 0.3s ease;

    &:hover {
      color: $grey-primary-clr;
    }

    @include onPhone {
      justify-content: center;
    }

    &_text {
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
    }

    &_link {
      display: inline-block;
      margin-left: 20px;

      &::after {
        content: "";
        background-image: url(./img/link-toTop.svg);
        width: 32px;
        height: 32px;
        display: block;
      }
    }
  }
}
