@import '../../styles/_utils/variables';
@import '../../styles/_utils/mixins';
@import '../../styles/_utils/extends';
@import '../../styles/_utils/variables';

.hotPrices {
  padding-top: 80px;

  &__title {
    font-size: 22px;
    line-height: 140%;
    font-weight: 800;
    color: $grey-primary-clr;

    @include onTablet {
      font-weight: 800;
      font-size: 32px;
      letter-spacing: -0.01em;
    }
  }

  &__wrapper {
    position: relative;

  }

  &__title {
    padding-bottom: $padding-l-r-big;
  }

  &__swiper {
    position: static;
  }

  &__prev {
    &_button {
      position: absolute;
      top: -50px;
      right: 16px;
      transform: translateX(-100%);
      background-image: url(./img/sircle.svg);
      @extend %home_page_arrow_styles;

      &::after {
        content: "";
        position: absolute;
        top: 9px;
        left: 8px;
        width: 16px;
        height: 16px;
        transform: rotate(180deg);
        background-image: url(./img/next-arrow.svg);
      }
    }
  }

  &__next {
    &_button {
      position: absolute;
      top: -50px;
      right: 0;
      background-image: url(./img/right-arrow.svg);
      @extend %home_page_arrow_styles;
    }
  }

  &__btn_disabled {
    opacity: 0.3;
    cursor: default;
  }
}
