@import '../../styles/_utils/_variables';
@import '../../styles/_utils/extends';

.phones_card {
  display: flex;
  flex-direction: column;
  padding: 32px;

  box-sizing: border-box;
  background-color: #FFF;
  border: 1px solid #E2E6E9;
  border-radius: 8px;

  transition: box-shadow 0.3s ease-in-out;



  &:hover {
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  }

  &__img {
    height: 190px;
    margin: 0 auto;
  }

  &__img_link {
    text-align: center;
  }

  &__name {
    padding: 8px 0;
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #0F0F11;
    flex: 1 0 auto;
  }

  &__prices {
    position: relative;
    padding: 8px 0;
    margin-bottom: 8px;

    &::after {
      content: "";
      position: absolute;
      top: 45px;
      left: 0;
      right: 0;
      height: 1px;
      background-image: url(../../img/icons/divider.svg);
    }

    &__newPrice {
      margin-right: 8px;
      color: #0F0F11;
      @extend %card_price_mutualStyles;
    }

    &__oldPrice {
      position: relative;
      display: inline-block;
      color: $grey-secondary-clr;
      @extend %card_price_mutualStyles;
      font-weight: 600;
      text-decoration: line-through;
    }
  }

  &__characteristic {
    margin-bottom: 8px;
    list-style: none;

    &_item {
      display: flex;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &_name {
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #89939A;
    }

    &_num {
      font-style: normal;
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__btns {
    display: flex;
  }

  &__addBtn {
    margin-right: 8px;
    flex: 1 0 160px;
    height: 40px;
    background-color: $accent-color;
    border-radius: 8px;
    border: 1px solid #fff;
    color: #FFF;
    border-color: transparent;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }

    &__active {
      color: $accent-color;
      background-color: #fff;
      border-color: #E2E6E9;
    }
  }

  &__favoritesBtn {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #B4BDC4;
    border-radius: 48px;
    background-color: transparent;
    cursor: pointer;

    transition: border-color 0.3s ease-in-out;

    &:hover {
      border-color: $grey-primary-clr;
    }

    &_heart {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: $phonesCard-width-heigh-px;
      height: $phonesCard-width-heigh-px;
      background-image: url(../../img/icons/favourites.svg);

      &__active {
        background-image: url(../../img/icons/favourites-selected.svg);
      }
    }
  }
}
