.phones-card {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  height: 506px;
  background: #FFFFFF;
  border: 1px solid #E2E6E9;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;

  &__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #0F0F11;
    padding: 8px 32px;
    margin: 0;
  }

  &__prices {
    padding-bottom: 8px;
    position: relative;
    padding: 8px 32px;
    margin-bottom: 8px;

    &::after {
      content: "";
      background-image: url(../../img/divider.svg);
      width: 208px;
      height: 1px;
      position: absolute;
      top: 45px;
      left: 33px;
    }
  }

  &__price {
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;

    &--newPrice {
      margin-right: 8px;
      color: #0F0F11;
    }

    &--oldPrice {
      color: #89939A;
      display: inline-block;
      position: relative;

      &::after {
        content: "";
        border-top: 2px solid #89939A;
        width: 45px;
        height: 1px;
        display: block;
        position: absolute;
        top: 15px;
      }
    }
  }

  &__characteristic {
    list-style: none;
    margin-bottom: 8px;
    padding-left: 32px;

    &-item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &-name {
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #89939A;
    }

    &-num {
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
      margin-right: 32px;
    }
  }

  &__btns {
    display: flex;
    padding-left: 32px;
  }

  &__addBtn {
    width: 160px;
    height: 40px;
    background: #F86800;
    border-radius: 8px;
    color: #FFF;
    border-color: transparent;
    margin-right: 8px;
  }

  &__favoritesBtn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #B4BDC4;
    border-radius: 48px;
    background-color: transparent;
    position: relative;

    &::after {
      content: "";
      background-image: url(../../img/favourites.svg);
      width: 16px;
      height: 16px;
      position: absolute;
      top: 11px;
      left: 11px;
    }
  }
}
